body {
    background-image: url('photos/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body, header {
    margin: 0;
    padding: 0;
}

/* Style the header */
header {
    background-color: rgba(255, 255, 255, 0); /* Transparent background */
    color: white; 
    padding: 20px;
    text-align: left;
    font-weight: 200;
    font-size: 38px;
}

/* Style the header content */
.header-content {
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space evenly between columns */
    align-items: center; /* Center vertically within header */
}

/* Style the header text */
.header-text {
    flex: 1; /* Occupy available space */
    padding: 20px; /* Add padding for spacing */
    margin-left: 150px; /* Adjust the right margin as needed */
    margin-top: 25; /* Adjust the top margin as needed */
}

/* Style the header image */
.header-image img {
    max-width: 400px;
    height: auto;
    display: block;
	flex: 1; /* Occupy available space */
    padding: 20px; /* Add padding for spacing */
    margin-right: 160px; /* Adjust the left margin as needed */
    margin-top: 25; /* Adjust the top margin as needed */
}
#navbar {
    overflow: hidden;
    background-color: #8B43D9;
    border-bottom: 15px solid #704DF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #704DF8;
    color: white;
	padding: 14px 75px;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: white;
    justify-content: space-between;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    margin: 0 20px 20px 0;
}

.footer-images {
  display: flex;
  justify-content: space-between;
}

.footer-images img {
  flex: 1 0 25%; 
  max-width: 100%;
  margin: 3px 3px; 
}

@media (max-width: 800px) {
  .footer-images img {
    flex: 1 0 33%; 
  }
}

@media (max-width: 600px) {
  .footer-images img {
    flex: 1 0 33%;
  }
}

@media (max-width: 400px) {
  .footer-images {
    flex-direction: column;
  }
  
  .footer-images img {
    flex: 1 0 100%;
	max-width: 100%;
  }
