body {
    background-image: url('photos/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body, header {
    margin: 0;
    padding: 0;
}


header {
    background-color: rgba(255, 255, 255, 0);
    color: white; 
    padding: 20px;
    text-align: left;
    font-weight: 200;
    font-size: 38px;
}


.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
	
.header-text {
    flex: 1; 
    padding: 20px; 
    margin-left: 150px; 
    margin-top: 25; 
}


.header-image img {
    max-width: 400px;
    height: auto;
    display: block;
	flex: 1; 
    padding: 20px; 
    margin-right: 160px; 
    margin-top: 25; 
}
#navbar {
    overflow: hidden;
    background-color: #8B43D9;
    border-bottom: 15px solid #704DF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #704DF8;
    color: white;
	padding: 14px 20px;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 20px;
    color: white;
    justify-content: space-between;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    margin: 0 20px 20px 0;
}


footer {
    background-color: rgba(255, 255, 255, 0);
    text-align: center; 
    padding: 20px; 
}


.footer-images img {
    width: 400px; 
    height: 400px; 
    margin: 0 25px;
}


/*

I was experimenting here with making my website more adaptive so it would load better on mobile
but my peer feedback said that the flexbox made the images look stretched so I am reverting to 
my orginal style.

.footer-images {
  display: flex;
  justify-content: space-between;
}

.footer-images img {
  flex: 1 0 25%; 
  max-width: 100%;
  margin: 3px 3px; 
}

@media (max-width: 800px) {
  .footer-images img {
    flex: 1 0 33%; 
  }
}

@media (max-width: 600px) {
  .footer-images img {
    flex: 1 0 33%;
  }
}

@media (max-width: 480px) {
  .footer-images {
    flex-direction: column;
}}
*/