body {
    background-image: url('../photos/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body, header {
    margin: 0;
    padding: 0;
}


header {
    background-color: rgba(255, 255, 255, 0);
    color: white; 
    padding: 20px;
    text-align: center;
    font-weight: 200;
    font-size: 38px;
}


#navbar {
    overflow: hidden;
    background-color: #8B43D9;
    border-bottom: 15px solid #704DF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

#navbar a:hover {
    background-color: #704DF8;
    color: white;
	padding: 14px 20px;
}

.hobby-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.hobby-card {
    width: 350px;
    background-color: #C956F0;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
	color: white;
}

.hobby-card img {
    max-width: 100%;
    height: auto;
}

.hobby-card p {
    margin-top: 10px;
}